<div class="card1-container">

    <div class="parent">
        <div class="left"><img   src="../../assets/Close.svg" class="responsive"></div>
        <div class="roboto-bold-header"> Share Products</div>
      </div>


  
    
    <div fxFlex fxLayout="row"  class="background-card">
       
        <div class="card-container">
      <div class="left-container"  style="padding-right: 25px;">
        <div class="left-content" >
            <img mat-card-image src="../../assets/Rectangle 3.png" alt="Free image">
        </div>
      </div>
      <div class="right-container"  >
          <div class="right-content">
            
                <div>
    
                    <div class="roboto-bold" >Pine Forest Candle</div>
                    <div class="parent">
                        <div ><img   src="../../assets/Star.svg" class="responsive"></div>
                        <div class="roboto-medium">4.9 (100 Reviews)</div>
                      </div>

                  
                    <div class="parent">
                        <div class="left"><div class="roboto-bold">MYR49.00</div></div> 
                       <div class="right"><img   src="../../assets/Heart.svg" class="responsive"></div> 
                    </div>
                   
                </div>
            
           
          </div>
      </div>
    </div>
    <hr>
    <div style="display: inline-flex;width: 100%;justify-content: space-between;padding-bottom:24px;">
        <div class="block"> 
            <div  class="block-item">
                <img class="block-img" src="../../assets/Copy.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>Copy Info</p>
            </div>
           
        </div>
        <div class="block"> 
            <div class="block-item">
                <img class="block-img" src="../../assets/Link.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>Copy Link</p>
            </div>
           
        </div>
        <div class="block"> 
            <div class="block-item">
                <img class="block-img" src="../../assets/Message.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>Message</p>
            </div>
           
        </div>
        <div class="block"> 
            <div class="block-item">
                <img class="block-img"e src="../../assets/Email.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>Email</p>
            </div>
           
        </div>
      </div> 
    
      
      <div style="display: inline-flex;flex-flow: row;width: 100%;justify-content: space-between;">
        <div class="block"> 
            <div id="over" class="block-item">
                <img class="block-img" src="../../assets/Facebook.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>Facebook</p>
            </div>
           
        </div>
        <div class="block"> 
            <div class="block-item">
                <img class="block-img" src="../../assets/Twitter.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>Twitter</p>
            </div>
           
        </div>
        <div class="block"> 
            <div class="block-item">
                <img class="block-img" src="../../assets/Linkedin.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>LinkedIn</p>
            </div>
           
        </div>
        <div class="block"> 
            <div class="block-item">
                <img class="block-img" src="../../assets/Dotted.svg" alt="Free image">
            </div>
    
            <div class="text-display">
                <p>More</p>
            </div>
           
        </div>
      </div> 
      </div>
    
      
    

</div>